@charset "utf-8";

html {
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 100px;
}

body{
	font-size: 0.18rem;
}

.spOnly {
	display: none;
}

/* 스마트 폰용 메뉴 */
.sp-nav {
	display: none;
}


#container {
	position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -65px; margin-bottom: -0.65rem;
    min-height: 100vh;
    width: 960px; width: 9.6rem; 
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
	color: #9fdefd;
}

h2{
	color: #ff9c39;
}

.clear{
	clear:both;
}

.push{
	height: 50px; height: 0.5rem;
}

footer{
	width: 100%;
	text-align: right;
	color: #808080;
	font-size: 10px; font-size: 0.1rem;
	padding: 10px 0; padding: 0.1rem, 0;
	margin-top: auto;
}

header{
	padding-top: 8px; padding-top: 0.08rem;
	height: 100px;	height: 1rem;
}

#headerLogo{
	position: relative;
	left: 50px; left: 0.5rem;
	height: 100px; height: 1.0rem;
	width: 167px; width: 1.67rem;
}

#headerNavPc{
	float: right;
	padding-top: 44px; padding-top: 0.44rem;
	font-size: 18px; font-size: 0.18rem;
}

#headerNavPc ul li{
	display: inline-block;
	font-weight: 1px;	font-weight: 0.01rem;
    color:#00cc00;
    margin-right: 5px;	margin-right: 0.05rem;
}

a:link{
	color:#8899ec;
	text-decoration: none;
}

a:hover{
	color:#1efffa;
	text-decoration: underline;
}

a:visited{
	color:#c488ff;
}

a:visited:hover{
	color:#f4a6ff;
	text-decoration: underline;
}


.subMenu {
	font-size: 2em;
	float: left; 
	width: 10%;
	margin-left: 0;
	margin-top: -65px; margin-top: -0.65rem;
	text-align: center;
	position: fixed;
	background-color: white;
}

.subMenuProduct {
	float: left; 
	width: 10%;
	margin-left: 0;
	margin-top: 30px; margin-top: 0.3rem;
	text-align: center;
	position: fixed;
	background-color: white;
}

.subMenu img{
	display: inline-block;
	width: 150px; width: 1.5rem;
}

#mainLogo {
	height: 1.5rem;
	width: 2.5rem;	
}

#loginLogoDiv {
	width: 40%;
	float: left;
}

#responseJoinButton {
	display: none;
}

.inputForm {
	padding: 0.1rem; 
	width: 2.5rem;
}

#joinMain{
	margin-top: 30px; margin-top: 0.3rem;
	font-size: 16px; font-size: 0.16rem;
	color: #404040;
}

#joinMain table{
	border-collapse: separate;
    border-spacing: 0px 10px; border-spacing: 0rem 0.1rem;
}

.joinFormTable td {
	margin-left: 0.1rem;
}

.detailInfoDiv {
	margin: 0 auto;
	width: 60%;
	text-align: left;
}

.detailInfoLabel {
	background-color: #ceffdf;
	padding: 0.05rem;
}

.detailInfo {
	margin: 0.1rem 0 0.1rem 0.3rem;
}

.tableDiv {
	width: 38%; 
	float: left; 
	margin-top: 0.3rem;
}

#loginPage {
	margin-top: 10%;
}

#addInfo{
	margin-top: 30px; margin-top: 0.3rem;
}

.indexImages {
	height: 2.5rem;
	width: 4rem;
}

.mypageImages {
	height: 1rem;
	width: 1.5rem;
}

.selectImages {
	height: 2.5rem;
	width: 4rem;
}

.movieFlame {
	width:5.6rem; 
	height:3.15rem;
}

.quizMain {
	 width: 80%;
	 margin: 0 auto;
}

#explain {
	width: 100%;
	height: 100%;
	position: relative;
}

.testOneText img {
	 width: 2rem;
	 height: 2.5rem;
}

.quizDiv img {
	width: 2.5rem;
}

/* button관련 */
.button{
	border-radius: 10px; border-radius: 0.1rem;
    border-color: rgb(255, 240, 245);
    width: 10em;
    height: 50px; height: 0.5rem;
    cursor: pointer;
    font-size: 0.15rem;
}

.glayButton{
	background-color: #c0c0c0;
	color: #ffffff;
}

.greenButton{
	background-color: #b3ffb3;
	color: green;
}

.orangeButton{
	background-color: rgb(255, 205, 148); 
    color: #fd5200; 
}

.pinkButton{
    background-color: #f7dbfd;
    color:#dd00dd;
}

.blueButton{
	background-color: #cce6ff;
	color: #006595;
}

.redButton{
	background-color: #ff8083;
	color: #bb0004;
}

.modalButton {
	 margin-top: 0.2rem; 
	 height: 0.7rem;
	 width: 2rem;
	 font-size: 0.2rem;
}

#goJoinButton {
	width: 1.2rem;
}

#loginButton {
	width: 1.2rem;
	height: 1rem;
}

#loginButtonDiv {
	width: 10%; 
	float: left;
}

#indexTable {
	margin-top: 0.5rem;
}


#indexTable tr{
	padding: 10px, 0;
}

#detailTable tr{
	padding: 10px, 0;
}

#joinMain table{
	margin: auto;
}

.spMypageTable {
	display: none;
}

.table{
	border-spacing: 2em 0.5em;
}

.table th{
	background-color: #ceffdf;
}

#quantity{
	width: 3em;
	height: 20px; height: 0.2rem;
	font-size: 16px; font-size: 0.16rem;
}

.center{
	margin-left: auto;
    margin-right: auto;
}

.pointer{
	cursor : pointer;
}

#boardContent{
	background-color: #ebffd5; 
	width: 100%; 
	height: 4em; 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.boardTable {
	border: 1px solid #ccc;
	margin-top: 30px; margin-top: 0.3rem;
}

#replyTable th {
	background-color: #e1c8b5; 
}

.selected {
	border: 3px solid #ff8040;
}

.productItems {
	width: 2rem;
	height: 2.5rem;
	margin-bottom: 0.3rem;
}

.productImages {
	width: 1rem;
	height: 1rem;
	margin-top: 0.2rem;
}

.poroductDetailImage {
	width: 3rem;
	height: 3rem;
}


/* modal window */
.modal {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow:scroll;
}

.modalBackGround {
	background-color: rgba(0, 0, 0, 0.8);
	height: 130%;
	width: 100%;
	position: absolute;
}

.modalContent {
	background-color: #fff;
	width: 45%;
	left: 50%;
	top: 50%;
	padding: 40px; padding: 0.4rem;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
}

.judge {
	width: 4rem;
	 height: 4rem;
}


#hiraganaInput img{
	width: 0.8rem;
	cursor : pointer;
	display: none;
}

.quizButton {
	height: 0.8rem;
	font-size: 0.2rem; 
	position: absolute; 
	bottom: 10%;
}

#inputWord {
	text-align: center; 
	font-size: 0.7rem; 
	color: orange;
}

#tabNav {
	display: inline-block;
	margin-bottom: 50px; margin-bottom: 0.5rem;
}

#study, #order, #board {
	color: black;
}


.tabFocus {
	border: 2px solid orange;
}

.adminSearch{
	margin-left: 20px; margin-left: 0.2rem;
}

#wordImage {
	width: 2.67rem;
	height: 1.5rem;
}


/* ----------- Responsive design ---------- */
@media screen and (max-width: 850px) { 
	html {
		font-size: 50px;
	}
	
	header {
		height: 0.5rem;
		margin-bottom: 0.5rem;
	}
	
	#headerLogo {
		position: absolute;
		left: 30px;
	}
	
	#headerNavPc {
		display: none;
	}
	
	/* 스마트폰에서는 hamburger메뉴를 표시 */
	#hamburger {
		position: relative;
		display: block;
		width: 30px;
		height: 25px;
		margin: 10px 0 20px auto;
	}
	
	#hamburger span {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 85%;
		height: 2px;
		background-color: #000;
		transform: translateY(-50%);
	}
	
	#hamburger::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	
	#hamburger::after {
		content: '';
		bottom: 0;
		width: 70%;
		display: block;
		position: absolute;
		left: 0;
		height: 2px;
		background-color: #000;
	}
	
	.sp-nav {
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: block;
		background: rgba(0, 0, 0, 0.8);
		transition: all 0.2s ease-in-out;
		opacity: 0;
		transform: translateY(-100%);
	}
	
	.sp-nav ul {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	
	.sp-nav li {
		margin: 0;
		padding: 0;
		font-size: 25px;
		color: aqua;
		list-style: none;
	}
	
	.sp-nav li span {
		font-size: 25px;
		color: #fff;
	}
	
	.sp-nav li a, .sp-nav li span {
		display: block;
		padding: 20px 0;
	}
	
	.sp-nav .close {
		position: relative;
		padding-left: 20px;
	}
	
	.sp-nav .close::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: #fff;
		transform: rotate(45deg);
	}
	
	.sp-nav .close::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: #fff;
		transform: rotate(-45deg);
	}
	
	.toggle {
		transform: translateY(0);
		opacity: 1;
	}
	
	
	#container {
		position: relative;
	    margin-left: auto;
	    margin-right: auto;
	    min-height: 100vh;
	    text-align: center;
	    display: flex;
	    flex-direction: column;
	    width: 100%;
	    min-width: 320px;
	}
	
	#indexTable img {
		margin-top: 0.2rem;
		margin-bottom: 0.1rem;
	}
	
	/* -------------login page----------- */
	#loginPage {
		margin-top: 0.3rem;
	}
	
	#loginLogoDiv {
		width: 100%;
	}
	
	.tableDiv {
		width: 100%;
	}
	
	#loginButtonDiv {
		width: 80%;
		margin-left: 10%;
	}
	
	#loginButton {
		width: 50%;
	}
	
	#goJoinButton {
		display: none;
	}
	
	#responseJoinButton {
		width: 20%;
	    position: absolute;
	    display: block;
	    left: 68%;
	    top: 23%;
	}
	
	/* --------------- mypage ------------------ */
	.pcMypageTable {
		display: none;
	}
	
	.spMypageTable {
		display: block;
		border-spacing: 0.6rem;
	}
	
	.spMypageTable th {
		margin-bottom: 0.2rem;
	}
	
	.spMypageTable tr {
		margin-bottom: 0.3rem;
	}
	
	.spMypageTable th, .spMypageTable td {
		width: 100%;
		display: block;
	}
	
	#tabBody {
		margin: 0 auto;
	}
	
	.responseTable {
		width: 100%;
		text-align: center;
	}
	
	.responseTable th, .responseTable td {
		width: 100%;
	}

	.responseTableBlock {
		width: 100%;
		text-align: center;
	}

	.responseTableBlock th, .responseTableBlock td {
		width: 100%;
		display: block;
	}

	.inputForm {
		width: 80%;
	}
	
	textarea {
		width: 100%;
	}
	
	.spOnly {
		display: block;
	}
	
	.detailInfoDiv {
		width: 90%;
	}
	
	.modalContent {
		width: 80%;
		top: 10%;
    	transform: translateX(-50%);
    }
    
    #hiraganaInput img{
		width: 0.54rem;
		cursor : pointer;
		display: none;
	}
	
	#inputWord {
		text-align: center; 
		font-size: 0.5rem; 
		color: orange;
	}	
}

@media screen and (max-width: 500px) { 
	.quizDiv img {
		width: 1.5rem;
	}
}

@media screen and (max-height: 480px) { 
	.modalBackGround {
		height: 200%;
	}
}