@charset "utf-8";

html {
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 100px;
}

body{
	font-size: 0.18rem;
}

/* 스마트 폰용 메뉴 */
.sp-nav {
	display: none;
}


#container {
	position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -65px; margin-bottom: -0.65rem;
    min-height: 100vh;
    width: 960px; width: 9.6rem; 
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
	color: #9fdefd;
}

h2{
	color: #ff9c39;
}

.clear{
	clear:both;
}

.push{
	height: 50px; height: 0.5rem;
}

footer{
	width: 100%;
	text-align: right;
	color: #808080;
	font-size: 10px; font-size: 0.1rem;
	padding: 10px 0; padding: 0.1rem, 0;
	margin-top: auto;
}

header{
	padding-top: 8px; padding-top: 0.08rem;
	height: 100px;	height: 1rem;
}

#headerLogo{
	position: relative;
	left: 50px; left: 0.5rem;
	height: 100px; height: 1.0rem;
	width: 167px; width: 1.67rem;
}

#headerNavPc{
	float: right;
	padding-top: 44px; padding-top: 0.44rem;
	font-size: 18px; font-size: 0.18rem;
}

#headerNavPc ul li{
	display: inline-block;
	font-weight: 1px;	font-weight: 0.01rem;
    color:#00cc00;
    margin-right: 5px;	margin-right: 0.05rem;
}

a:link{
	color:#8899ec;
	text-decoration: none;
}

a:hover{
	color:#1efffa;
	text-decoration: underline;
}

a:visited{
	color:#c488ff;
}

a:visited:hover{
	color:#f4a6ff;
	text-decoration: underline;
}


.subMenu {
	font-size: 2em;
	float: left; 
	width: 10%;
	margin-left: 0;
	margin-top: -65px; margin-top: -0.65rem;
	text-align: center;
	position: fixed;
	background-color: white;
}

.subMenuProduct {
	float: left; 
	width: 10%;
	margin-left: 0;
	margin-top: 30px; margin-top: 0.3rem;
	text-align: center;
	position: fixed;
	background-color: white;
}

.subMenu img{
	display: inline-block;
	width: 150px; width: 1.5rem;
}

#mainLogo {
	height: 1.5rem;
	width: 2.5rem;	
}

#loginLogoDiv {
	width: 40%;
	float: left;
}

.inputForm {
	padding: 0.1rem; 
	width: 2.5rem;
}

#joinMain{
	margin-top: 30px; margin-top: 0.3rem;
	font-size: 16px; font-size: 0.16rem;
	color: #404040;
}

#joinMain table{
	border-collapse: separate;
    border-spacing: 0px 10px; border-spacing: 0rem 0.1rem;
}

.tableDiv {
	width: 38%; 
	float: left; 
	margin-top: 0.3rem;
}

#loginPage {
	margin-top: 10%;
}

#addInfo{
	margin-top: 30px; margin-top: 0.3rem;
}


/* button관련 */
.button{
	border-radius: 10px; border-radius: 0.1rem;
    border-color: rgb(255, 240, 245);
    width: 10em;
    height: 50px; height: 0.5rem;
    cursor: pointer;
    font-size: 0.15rem;
}

.glayButton{
	background-color: #c0c0c0;
	color: #ffffff;
}

.greenButton{
	background-color: #b3ffb3;
	color: green;
}

.orangeButton{
	background-color: rgb(255, 205, 148); 
    color: #fd5200; 
}

.pinkButton{
    background-color: #f7dbfd;
    color:#dd00dd;
}

.blueButton{
	background-color: #cce6ff;
	color: #006595;
}

.redButton{
	background-color: #ff8083;
	color: #bb0004;
}

#goJoinButton {
	width: 1.2rem;
}

#loginButton {
	width: 1.2rem;
	height: 1rem;
}

#loginButtonDiv {
	width: 10%; 
	float: left;
}


#indexTable tr{
	padding: 10px, 0;
}

#detailTable tr{
	padding: 10px, 0;
}

#joinMain table{
	margin: auto;
}

.table{
	border-spacing: 2em 0.5em;
}

.table th{
	background-color: #ceffdf;
}

#quantity{
	width: 3em;
	height: 20px; height: 0.2rem;
	font-size: 16px; font-size: 0.16rem;
}

.center{
	margin-left: auto;
    margin-right: auto;
}

.pointer{
	cursor : pointer;
}

#boardContent{
	background-color: #ebffd5; 
	width: 100%; 
	height: 4em; 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.boardTable {
	border: 1px solid #ccc;
	margin-top: 30px; margin-top: 0.3rem;
}

#replyTable th {
	background-color: #e1c8b5; 
}

.selected {
	border: 3px solid #ff8040;
}


/* modal window */
.modal {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow:scroll;
}

.modalBackGround {
	background-color: rgba(0, 0, 0, 0.8);
	height: 130%;
	width: 100%;
	position: absolute;
}

.modalContent {
	background-color: #fff;
	left: 50%;
	top: 50%;
	padding: 40px; padding: 0.4rem;
	position: absolute;
	transform: translate(-50%, -50%);
}

#hiraganaInput img{
	width: auto;
	height: 8.5%;
	cursor : pointer;
	display: none;
}

.quizButton {
	height: 80px; height: 0.8rem; 
	font-size: 1.5em; 
	position: absolute; 
	bottom: 10%; 
}

#tabNav {
	display: inline-block;
	margin-bottom: 50px; margin-bottom: 0.5rem;
}

#study, #order, #board {
	color: black;
}


.tabFocus {
	border: 2px solid orange;
}

.adminSearch{
	margin-left: 20px; margin-left: 0.2rem;
}




/* ----------- Responsive design ---------- */
@media screen and (max-width: 750px) { 
	html {
		font-size: 50px;
	}
	
	header {
		height: 0.5rem;
		margin-bottom: 0.5rem;
	}
	
	#headerLogo {
		position: absolute;
		left: 30px;
	}
	
	#headerNavPc {
		display: none;
	}
	
	/* 스마트폰에서는 hamburger메뉴를 표시 */
	#hamburger {
		position: relative;
		display: block;
		width: 30px;
		height: 25px;
		margin: 10px 0 20px auto;
	}
	
	#hamburger span {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 85%;
		height: 2px;
		background-color: #000;
		transform: translateY(-50%);
	}
	
	#hamburger::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	
	#hamburger::after {
		content: '';
		bottom: 0;
		width: 70%;
		display: block;
		position: absolute;
		left: 0;
		height: 2px;
		background-color: #000;
	}
	
	.sp-nav {
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: block;
		background: rgba(0, 0, 0, 0.8);
		transition: all 0.2s ease-in-out;
		opacity: 0;
		transform: translateY(-100%);
	}
	
	.sp-nav ul {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	
	.sp-nav li {
		margin: 0;
		padding: 0;
	}
	
	.sp-nav li span {
		font-size: 15px;
		color: #fff;
	}
	
	.sp-nav li a, .sp-nav li span {
		display: block;
		padding: 20px 0;
	}
	
	.sp-nav .close {
		position: relative;
		padding-left: 20px;
	}
	
	.sp-nav .close::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: #fff;
		transform: rotate(45deg);
	}
	
	.sp-nav .close::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: #fff;
		transform: rotate(-45deg);
	}
	
	.toggle {
		transform: translateY(0);
		opacity: 1;
	}
	
	
	#container {
		position: relative;
	    margin-left: auto;
	    margin-right: auto;
	    min-height: 100vh;
	    text-align: center;
	    display: flex;
	    flex-direction: column;
	    width: 100%;
	    min-width: 420px;
	}
	
	#indexTable img {
		width: 60%;
		height: auto;
	}
	
	/* -------------login page----------- */
	#loginPage {
		margin-top: 0.3rem;
	}
	
	#loginLogoDiv {
		width: 100%;
	}
	
	.tableDiv {
		width: 100%;
	}
	
	#loginButtonDiv {
		width: 80%;
		margin-left: 10%;
	}
	
	#goJoinButton {
		width: 30%;
		display: block;
		margin-left: 45%;
	}
	
	#loginButton {
		width: 50%;
	}
	
	.responseTable {
		width: 100%;
		text-align: center;
	}
	
	.responseTable th, .responseTable td {
		width: 100%;
	}

	.responseTableBlock {
		width: 100%;
		text-align: center;
		margin-left: 10%;
	}

	.responseTableBlock th, .responseTableBlock td {
		width: 80%;
		display: block;
	}

	.inputForm {
		width: 80%;
	}
	
	.responseButtonCenter {
		margin: 0 auto;
		width: 100%;
	}
}